header {
    height: 100px;
    width: 100%;
    background-color: #404040;
    display: flex;
    justify-content: space-between;
    
}

.botoes {
    margin-right: 50px;
    color: rgb(0, 0, 0);
    justify-content: space-between;
   display: flex;
    
}

.div1{
    width: 50%;
    height: 50%;
    background-color: #FFF26C;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.div2{
    width: 50%;
    height: 50%;
    background-color: #FFF26C;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.input{
    width: 70%;
    height: 20%;
    
}

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

section{
    width: 100%;
    height: 100vh;
    background-color: #404040;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.titulo{
    width: 30%;
    height: 100px;
    display: flex;
    align-items: center;
}

.titulo h1{
    width: 80%;
    height: 80%;
    font-size: 220%;
    background-color: #FE842B;
    color: #FFFF00;
    border: solid 5px #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabela {
    width: 80%;
    height: 70%;
    background-color: #fff;
    overflow-y: scroll;
}

.linha{
    width: 100%;
    height: 20%;
    display: flex;
}

.posicao{
    height: 100%;
    width: 15%;
    border: solid 2px #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nomeperso{
    height: 100%;
    width: 55%;
    border: solid 2px #000;
    display: flex;
    align-items: center;
    
}

.nomeperso h1{
    font-size: 250%;
    width: calc(100% - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
}

.icoperso{
    height: 100%;
    justify-self: flex-start;
    align-self: flex-start;
}

.nomeobra{
    height: 100%;
    width: 30%;
    border: solid 2px #000;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icoobra{
    height: 80%;
}