* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 80px;
    width: 100%;
    background-color: #404040;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

main {
    width: 100%;
    height: 100vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.botoes {
    /* margin-right: 50px; */
    width: 20%;
    height: 90%;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.div1 {
    width: auto;
    padding-left: 3%;
    padding-right: 3%;
    height: 80%;
    background-color: #FFF26C;
    border-radius: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12.5px;
    text-decoration: none;
    color: #404040;
}

.botoes :hover {
    text-decoration: none;
    background-color: #404040;
    color: #fff;
    border: solid 3px #FFF26C;
}

.div1 :hover {
    border: none;
}


.banner {
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: hidden;
}

.line-banner{
    width: 100%;
    height: 58%;
    display: flex;
    border-top: solid 2px #000;
}

.square-banner{
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: solid 1px #000; */
}

.square-banner h1{
    width: 70%;
    height: 25%;
    text-align: center;
    font-size: 250%;
}

.square-banner button{
    width: 50%;
    height: 25%;
    font-size: 250%;
    border: none;
    border-radius: 10em;
    background-color:#FFF26C;
    color: #fff;
    font-size: 300%;
    font-weight: 600;
}

.square-banner button:hover{
    text-decoration: none;
    background-color: #404040;
    color: #fff;
    border: solid 5px #FFF26C;
}

.imgbanner{
    width: 100%;
    height: 100%;
}

/*.banner-p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    border: 1px solid black;

}
.banner-p {
    width: 100%;
    height: 50%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    justify-content: space-evenly;
}

.banner-a button{
    width: 50%;
    height: 30%;
    background-color: #FFFF00;
} */

.input {
    width: 50%;
    height: 30%;
    border-radius: 10em;
    /* margin-top: 20px; */

}

/*TABELA*/

section {
    width: 100%;
    height: 100vh;
    background-color: #404040;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.titulo {
    width: 30%;
    height: 100px;
    display: flex;
    align-items: center;
}

.titulo h1 {
    width: 80%;
    height: 80%;
    font-size: 220%;
    background-color: #FE842B;
    color: #FFFF00;
    border: solid 5px #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabela {
    width: 80%;
    height: 70%;
    background-color: #fff;
    overflow-y: scroll;
}

.linha {
    width: 100%;
    height: 20%;
    display: flex;
}

.posicao {
    height: 100%;
    width: 15%;
    border: solid 2px #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nomeperso {
    height: 100%;
    width: 55%;
    border: solid 2px #000;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nomeperso h1 {
    font-size: 250%;
    width: calc(100% - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
}

.icoperso {
    height: 100%;
    justify-self: flex-start;
    align-self: flex-start;
}

.nomeobra {
    height: 100%;
    width: 30%;
    border: solid 2px #000;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icoobra {
    height: 80%;
}